/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////    STRUCTURE GLOBALE    ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

html, body
{
	height : 100%;
	margin : 0px;
	padding : 0px;
	font-family : Trebuchet MS , sans-serif;
}

#corps
{
	width : 1000px;
	margin : auto;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       BACKGROUND        ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */


#background_haut
{
	height : 100%;
	background : url("background_haut.png") top center repeat-x;
}

#background_bas
{
	min-height : 100%;
	background : url("background_bas.png") bottom center repeat-x;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////        BANNIERE        ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#banniere
{
	width : 1000px;
	height : 180px;
	margin : auto;
}

#logoSite
{
        float : left;
        margin-top: 30px;
}

#banniere h1
{
	float : left;
	font-size : 35px;
	margin-top : 50px;
	margin-left : 50px;
	margin-bottom : 10px;
	color : #434343;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////          TEXTE          ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#texte 
{
	padding : 20px;
	padding-top : 0px;
	text-align : justify;
	font-size : 13px;
	color : #434343;
	line-height : 22px;
}

h2
{
	font-size : 16px;
	margin-top : 3px;
}

p
{
	margin-top : 0px;
}

a
{
	color : #007a99;
	text-decoration : none;
}

a:hover
{
	color : #00242d;
}

img
{
	border : none;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////            MH           ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#menu 
{
	width : 1000px;
	height : 36px;
	text-align : left;
	padding-top : 7px;
	margin : auto;
}

#menu a:not(#shiftLeft)
{
	padding-right : 15px;
	padding-left : 15px;
	font-size : 13px;
	font-weight : bold;
	color : white;
}

#pseudo, #shiftLeft
{
        padding-right : 15px;
	padding-left : 65px;
	font-size : 13px;
	font-weight : bold;
	color : #c8e5bc;
}

#shiftLeft
{
        color : white;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////            MH           ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

.afaire
{
	font-weight : bold;
	color : red;
}

.encours
{
	font-weight : bold;
	color : orange;
}

.termine
{
	font-weight : bold;
	color : green;
}

.bloc_formulaire
{
	width : 500px;
}